//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^gamerludus.info[nc]
RewriteRule ^(.*)$ http://www.gamerludus.info/$1 [r=301,nc]

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes
 